<!-- AutoPedia/templates/base.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- ... (configuración del head) ... -->
</head>

<body>

    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{% url 'marcas:lista_marcas' %}">Marcas</a></li>
            <li><a href="{% url 'autos:lista_modelos' %}">Modelos de Autos</a></li>
            <!-- Agrega más enlaces según tus necesidades -->
        </ul>
    </nav>

    <!-- Contenido principal -->
    <div class="content">
        {% block content %}
        <!-- Contenido específico para cada plantilla -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <!-- Agrega aquí contenido para el footer -->
    </footer>

</body>

</html>