<!-- marcas/templates/marcas/lista_marcas.html -->
{% extends "base/base.html" %}
{% load static %}

{% block content %}
<style>
    .card {
        width: 15rem;
        /* Puedes ajustar el ancho según tus necesidades */
        margin-bottom: 20px;
        /* Espaciado entre tarjetas */
    }

    .card-img-top {
        height: 150px;
        /* Puedes ajustar la altura según tus necesidades */
        object-fit: contain;
        /* Ajusta el tamaño de la imagen manteniendo la proporción */
    }

    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="container mt-4">
    <h1 class="mb-4">Lista de Marcas</h1>
    {% if user.is_superuser %}
    <a href="{% url 'marcas:crear_marca' %}" class="btn btn-primary mb-3">Agregar nueva marca</a>
    {% endif %}

    <div class="row">
        {% for marca in marcas %}
        <div class="col-md-4">
            <div class="card">
                <a href="{% url 'marcas:detalle_marca' pk=marca.pk %}">
                    <img src="{{ marca.logo.url }}" alt="{{ marca.nombre }} Logo" class="card-img-top img-fluid">
                </a>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}