body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

/* Estilo para header y footer */
.bg-custom {
    background-color: #204562;
    color: #FDFEFE;
}

/*--------------------------------------------*/

/* Estilo para el navbar */
.custom-navbar-bg {
    background-color: #FDFEFE;
    /* Tu color personalizado */
    /* Puedes ajustar otros estilos según sea necesario */
}