{% extends 'base/base.html' %}

{% block content %}
<h1>{{ modelo.marca.nombre }} - {{ modelo.nombre }}</h1>
<p>Año de Inicio: {{ modelo.año_inicio }}</p>
<p>Año de Fin: {{ modelo.año_fin }}</p>
<p>Descripción: {{ modelo.descripcion }}</p>
<p>Cilindrada del Motor: {{ modelo.cilindrada_motor_litros }}L</p>
<p>Configuración del Motor: {{ modelo.configuracion_motor }}</p>

<!-- Agrega la imagen del auto -->
{% if modelo.imagen %}
<img src="{{ modelo.imagen.url }}" alt="{{ modelo.nombre }} - Imagen">
{% endif %}

<!-- Puedes agregar más detalles según tus necesidades -->
{% endblock %}