{% extends 'base/base.html' %}

{% block content %}
<!-- Aquí va el contenido específico de la plantilla formulario_modelo.html -->
<h1>{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Modelo</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- Agregar el campo de marca -->
    <label for="{{ form.marca.id_for_label }}">Marca:</label>
    {{ form.marca }}
    <br>

    <button type="submit">Guardar</button>
</form>
<a href="{% url 'autos:lista_modelos' %}">Volver a la lista de modelos</a>
{% endblock %}