<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoPedia{% endblock %}</title>
    {% load static %}

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <!-- Header con colores personalizados -->
    <header class="py-2 bg-custom">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <a href="{% url 'home' %}" class="text-decoration-none text-dark d-flex align-items-center">
                    <img src="{% static 'images/Logo1BG.png' %}" alt="Logo" width="60" height="54"
                        class="d-inline-block align-text-top me-2">
                    <span class="fs-4 fw-bold text-light">AutoPedia</span>
                </a>
            </div>
        </div>
    </header>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg custom-navbar-bg">
        <div class="container-fluid">
            <!-- Botón de colapso para dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido del Navbar -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'marcas:lista_marcas' %}">Marcas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'autos:lista_modelos' %}">Modelos</a>
                    </li>
                </ul>
                <form class="d-flex" action="{% url 'autos:buscar_resultados' %}" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="content">
        {% block content %}
        <!-- Contenido específico para cada plantilla -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-custom text-center py-3">
        <p>&copy; 2023 AutoPedia. Todos los derechos reservados.</p>
    </footer>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>